<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caffe Manager</title>
</head>
<body>
    <h1 id="reservations-header">Reservations</h1>
    <h2>Add new reservation</h2>
    <form method="POST" action="{% url 'new_reservation' %}">
        {{ form }}
        <!--<input id="new_reservation_name_input" name="reservation_name" placeholder="Type new reservation name" size="100"/>-->
        {% csrf_token %}
        <input id="submit-button" type="submit" value="Submit">
    </form>
    <h2>Existing reservations</h2>
    {% for reservation in reservations %}
        <p class="reservation-item">
            {{ reservation.id }}: <a class="details-link" href="{% url 'show_reservation' reservation.id %}">{{ reservation.name }}</a>
            <a class="delete-link" href="{% url 'delete_reservation' reservation.id %}">delete</a>
        </p>
    {% endfor %}
</body>
</html>